/* History Manager */
#yui-history-iframe
{
   position: absolute;
   top: 0;
   left: 0;
   width: 1px;
   height: 1px;
   visibility: hidden;
}
.create-users-console
{
   margin: 16px 10px 10px;
}
.create-users-console .title
{
   font-size: 123.1%;
   font-weight: bold;
   padding-bottom: 0.5em;
}
.create-users-console .create-users-data
{
	height: 20em;
	width: 50em;
}
.create-users-console .create-users-options
{
	padding: 0.5em 0;
}
.create-users-console .create-users-options div
{
   padding: 0.5em 0;
}
.create-users-console .checkbox
{
   margin-left: 4px;
}